/*
Guia: 61c
Nombre: Marvin Josue Martinez Escobar
Carnet: ME19004
Correo: me19004@ues.edu.sv
*/

body{
 font-family: Georgia, 'Times New Roman', Times, serif;
 background: #fefae0 url(/Imagenes/fondo.jpg) top repeat-y;
}

img {width:3cm;
    height:3cm;}

table {
    width:80%;
    margin:auto;
    border-collapse: collapse;
    font-size: 1em;
    border: 2px solid #000;
    

}
th#price {cursor:pointer;}

li {
    
    color:blue;}

h2{
    text-align: center;
}

h1{
    text-align: center;
    display: block;
    background-color: #83c59c;
}
/*si chequea muestra los productos sin cheque desaparecen los productos*/
input#c1:checked ~ table tbody tr.c1 { display: table-row; }
input#c1:not(checked) ~ table tbody tr.c1 { display: none; }
input#c2:checked ~ table tbody tr.c2 { display: table-row; }
input#c2:not(checked) ~ table tbody tr.c2 { display: none; }
input#c3:checked ~ table tbody tr.c3 { display: table-row; }
input#c3:not(checked) ~ table tbody tr.c3 { display: none; }
input#c4:checked ~ table tbody tr.c4 { display: table-row; }
input#c4:not(checked) ~ table tbody tr.c4 { display: none; }